body, html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0 auto;
    background-color: #24ad8d;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Setting specifications for my Calculator */

#calculator {
    width: 400px;
    height: 500px;
    border: 5px solid black;
    background-color: #FBEEC1;
}


.display {
    height: 70px;
    width: auto;
    margin: 15px 5px 10px 5px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.display > p {
    display: block;
    font-size: 35px;
    margin: 10px;
}

/* Buttons specification */

.buttons {
    width: auto;
    height: 400px;
    margin: 10px 5px 5px 5px;
    background-color: grey;
    flex-wrap: wrap;
    display: flex;
    
}

.key {
    width: 95px;
    height: auto;
    background-color: #b5fdff;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

kbd {
    font-size: 20px;
}

.active, .key:hover {
    background-color: #1cc4c9;

}